{% extends "layout.html" %}
{% block title %}Twitter Follower &amp YouTube Subscriber Counter{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="circle_container fleft">
            <div id="youtube_subscribers" class="circle">
                <strong>0</strong>
            </div>
            <p class="title"><a href="https://www.youtube.com/channel/UCpjOrUKSGSbXkfmkibKYbZA">YouTube Subscribers</a></p>
        </div>

        <div class="circle_container fright">
            <div id="twitter_followers" class="circle">
                <strong>0</strong>
            </div>
            <p class="title"><a href="https://twitter.com/jamesvscode">Twitter Followers</a></p>
        </div>
    </div>
{% endblock %}