{% extends "layout.html" %}
{% block title %}Twitter Follower &amp YouTube Subscriber Counter{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="circle_container fleft">
            <div id="youtube_subscribers" class="circle">
                <strong>400</strong>
            </div>
            <p class="title">YouTube Subscribers</p>
        </div>

        <div class="circle_container fright">
            <div id="twitter_followers" class="circle">
                <strong>250</strong>
            </div>
            <p class="title">Twitter Followers</p>
        </div>
    </div>
{% endblock %}